language: java

jdk:
  - oraclejdk8
  - oraclejdk9
  - oraclejdk11
  - openjdk8
  - openjdk10
  - openjdk11

before_install:
  - sudo rm -f /etc/mavenrc

install:
  - mvn install -DskipTests -pl kuromoji-ipadic -pl kuromoji-unidic -am

script:
  - mvn test -DskipCompileDictionary -pl kuromoji-ipadic -pl kuromoji-unidic -am
